{
  "plugins": [
    [
      "@emotion",
      {
        "autoLabel": "never",
        "cssPropOptimization": true,
        "labelFormat": "[local]",
        "sourceMap": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}